.subList {
    height: 300px;
    width: 250px;
    overflow-y:scroll;
    padding-bottom: 10px;
}
.subList_btns {
  background: none;
  width: 100%;
  height: 25px;
  border: none;
  text-align: right;
  font-size: 20px;
  margin-top: 5px;
}
.subList_btns:hover {
  background-color: rgb(190, 190, 190);
}
.subList_searchBar {
  width: 58%;
  height: 22.5px;
  margin-top: 5px;
  right: 20%;
  position: relative;
  border: solid 1px black;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12%;
}
.SubList_Box {
  border: solid 1px black;
  position: absolute;
  top: 250px;
  left: 50px;
  background-color: #fff;
  width: 250px;
  height: 350px;
}
.subList_searchIcon {
  font-size: 25px;
  position: absolute;
  width: 12%;
  left: 10%;
  top: 2%;
}
.subList_searchBar:focus {
  outline: none;
}
.subList_searchBar:hover {
  border: solid 1px black;
}
.subMenu_closeIcon {
    font-size: 28px;
    position: absolute;
    right: 1px;
    z-index: 2;
}
.subMenu_closeIcon_wrapper {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1;
}
.subMenu_closeIcon_wrapper:hover {
    background-color:rgba(163, 163, 163, 0.616);
}