.subject-filter-container{
    position: absolute;
    top: 15%;
    left: 78%;
}

.filter1-containter,.filter2-containter{
    font-size: xx-large;
    font-weight: bold;
    border: 1px solid black;
    position: absolute;
    width: 220px;
    height: 50px;
    z-index: 10;
}
.filter2-containter{
    width: 180px;
}
.sort-filter-container{
    position: absolute;
    top: 15%;
    left: 89%;

}

.filter-graduation-cup,.sort-hamburger{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 2%;
}

.filter-angle-down, .filter-angle-up{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 5%;
}

.filter-angle-down{
display: none;
}

.subject-filter-popup{
    position: absolute;
    z-index: 2;
    top: 51px;
}

.subject-input{
    display: none;
    width: 214px;
    height: 30px;
}
.sort-form-container{
    display:none;
    height: 150px;
    width: 250px;
    position: absolute;
    top: 50px;
    border: 2px solid black;
    box-shadow: 0 0 200px #000;
    background-color: rgb(248, 241, 241);
    clip-path: polygon(0 100%, 100% 100%, 100% 21%, 86% 21%, 76% 0, 63% 21%, 0 21%);
}
.demo-background-clip{
    height: 150px;
    width: 250px;
    position: absolute;
    top: 49px;
    display: none;
    background-color: #000;
    clip-path: polygon(0 100%, 100% 100%, 100% 21%, 86% 21%, 76% 0, 63% 21%, 0 21%);
}

.filter2-paragraph-container{
    position: absolute;
    right: 35px;
    top: -10px;
}
.filter2-paragraph-container-inputs{
    top: 32%;
    position: absolute;
    right: 87px; 
}
.filter2-paragraph-container2{
    position: absolute;
    right: 30px;
    top: 50px;
}

.filter2-paragraph-container-inputs2{
    top: 58.5%;
    position: absolute;
    right: 90px; 
}

.invisible-div-for-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 90px;
    left: 0px;
    /* z-index: 10; */
}