.mylessons_deeplinker {
  width: 200px;
  position: absolute;
  left: 5px;
  height: 45px;
  bottom: 20px;
  left: 25px;
  border-radius: 25px;
  font-size: 25px;
  /* vertical align the button to the middle*/
  background-color: rgb(255, 52, 16);
  transition: 0.3s;
  cursor: pointer;
}

.mylessons_enter_lesson {
  background-color: rgb(58, 181, 5);
}

.mylessons_deeplinker:hover {
  background-color: rgb(251, 94, 89);
  transition: 0.3s;
}

.mylessons_enter_lesson:hover {
  background-color: rgb(88, 255, 16);
}

.mylessons_deeplinker2 {
  width: 200px;
  position: absolute;
  left: 5px;
  height: 45px;
  bottom: 20px;
  left: 25px;
  border-radius: 25px;
  font-size: 25px;
  /* vertical align the button to the middle*/
  background-color: rgb(221, 170, 5);
  transition: 0.3s;
  cursor: pointer;
}
.mylessons_deeplinker2:hover {
  background-color: rgb(255, 207, 47);
  transition: 0.3s;
}
.myteacher_infofields {
  width: 125px;
  height: 35px;
  position: absolute;
  bottom: 20px;
  right: 55vw;
  font-size: 45px;
  top: 7px;
}
.mylessons_star {
  color: gold;
  position: absolute;
  top: 127px;
}
.myteacher-container {
  display: flex;
  width: 70%;
  top: 150px;
  position: relative;
  border: 2px solid #000;
  z-index: 10;
  height: 200px;
  right: 10px;
  margin-top: -2px;
  background-color: #dddddd;
}
.mylessons-left-side {
  height: 1300px;
  width: 29%;
  position: relative;
  margin-top: -1350px;
  z-index: 10;
  right: 71%;
}
.new-lessons-button {
  width: 700px;
  position: absolute;
  left: 5px;
  height: 58px;
  bottom: 95%;
  left: 10%;
  border-radius: 25px;
  font-size: 25px;
  background-color: rgb(0, 158, 13);
  transition: 0.3s;
  cursor: pointer;
}

.new-lessons-button2 {
  width: 700px;
  position: absolute;
  right: 10px;
  height: 58px;
  top: 20%;
  border-radius: 25px;
  font-size: 25px;
  background-color: rgb(0, 158, 13);
  transition: 0.3s;
  cursor: pointer;
}

.new-lessons-button:hover {
  background-color: rgb(18, 211, 0);
  transition: 0.3s;
}
.mylessons-chart-container {
  position: relative;
}
.mylessons-chart {
  position: absolute;
  top: 150px;
}

.upcoming-lessons-container {
  margin-top: 70px;
}