* {
    /* margin: 0;
    padding: 0;
    left: 0;
    top: 0; */
    font-family: 'Secular-One', sans-serif;
}
body {
    overflow-x: hidden;
}
#signup_page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:
    linear-gradient(to bottom, rgba(178, 255, 175, 0.6),rgba(153, 248, 177, 0.6)),
    url('Images/welcomebg.jpg');
    background-size:cover;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
#navbg {
    position: fixed;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: transparent;
}
#navlist{
    list-style-type: none;
    position: relative;
    right: 0px;
    top: 5px;
}
#navlogo {
    width: 150px;
    height: 75px;
    position: absolute;
}
#navlist li {
    display: inline;
}
.navlinks {
    color: white;
    text-decoration: none;
    font-size: 45px;
    padding-left: 25px;
    transition: 0.2s all;
    position: relative;
    top: 5px;
}
.navlinks:hover {
    color: rgb(212, 65, 65);
}
#mobilebars {
    display: none;
    color: white;
    position: absolute;
    top: 30px;
    right: 20px;
    transition: 0.2s all;
}
#mobilebars:hover {
    color: rgb(246, 96, 96);
}
#loginbtn, #signupbtn {
    width: 100px;
    height: 45px;
    font-size: 16px;
    position: fixed;
    top: 20px;
    border-radius: 20px;
    transition: 0.2s all;
    background-color: transparent;
    cursor: pointer;
    line-height: 0px;
}
#loginbtn {
    border: 2px solid #4CAF50;
    color: #4CAF50;
    left: 15px;
}
#loginbtn:hover {
    background-color: #4CAF50;
    color: white;
}
#signupbtn {
    border: 2px solid rgb(84, 129, 253);
    left: 125px;
    color:rgb(84, 129, 253);
}
#signupbtn:hover {
    background-color:rgb(84, 129, 253);
    color: white;
}
#signup_waves {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -250px;
    left: 0;
}
#signup_box {
    width: 500px;
    height: 400px;
    background-image: linear-gradient(rgba(53, 53, 53, 0.5), rgba(53, 53, 53, 0.5));
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 350px;
}
::placeholder { 
    color: #000;
    font-weight:bold;
}
label{
    font-weight: bold;
    font-size: 19px;
}
.container {
    padding: 0;
    width: 80%;
    position: absolute;
    right: 25px;
    margin-bottom: 10px;
    color: #000;
}
.container i {
    position: absolute;
    margin-top: -7px;
}
#fa_envelope {
    margin-top: 3px;
    margin-right: 5px;
}
#fa_gradcap {
    margin-top: 8px;
    margin-right: 0px;
}
.icon {
    padding: 12px;
    min-width: 40px;
}
.input-field {
    width: 60%;
    padding: 10px 40px 10px 10px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 16px;
    border: 1px solid #000;
    outline: none;
    margin-bottom: 5px;
    border-radius: 10px;
}
.input-field:hover {
    border: 1px solid rgb(139, 139, 139);
}
#forgotpass {
    text-decoration: none;
    font-size: 18px;
}
#forgotpass:hover{
    text-decoration: underline;
}
.signup_submit {
    position: relative;
    width: 90%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    background-color:rgb(86, 89, 235);
}
.signup_submit::before,
.signup_submit::after {
    background: #4323fa;
    content: "";
    position: absolute;
    z-index: -1;
}
.signup_submit::after {
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.4s;
    transform-origin: top left;
    width: 0;
}
.signup_submit:hover:after {
    height: 100%;
    width: 135%;
}
.signup_submit p {
    font-size: 25px;
    margin-top: 2px;
}
.selectoptions {
    font-weight: bold;
}
@media screen and (max-width: 720px)
{
    #navlist li {
        display: none;
    }
    #mobilebars {
        display: block;
    }
    #signup_waves {
        top: -280px;
    }
    #signup_box {
        top: 250px;
    }
}
@media screen and (max-width: 565px)
{
    #signup_waves {
        top: -300px;
    }
    #signupbtn, #loginbtn {
        margin-top: -10px;
    }
    #mobilebars {
        top: 20px;
    }
}
@media screen and (max-width: 835px)
{
    #signupbtn, #loginbtn {
        top: 30px;
    }
    #signup_box {
        width: 100%;
        left: 0%;
        border-radius: 0px;
        animation: StrechSignupBox 0.2s;
    }
}
@keyframes StrechSignupBox {
    0% {
        width: 750px;
        left: 10%;
    }
    100% {
        width: 100%;
        left: 0%;
    }
}